{% extends 'base.html.twig' %}

{% block title %}MARVEL{% endblock %}

{% block body %}
    <div class="container-fluid mt-5 d-inline-block text-center">
        {% for MarvelCharacterData in MarvelCharactersData %}
            <!--Card-->
            <button type="button" class="btn" onclick='getThisMarvelCharacterData("{{ MarvelCharacterData.id }}")' data-toggle="modal" data-target="#centralModalCharacterInfo">
                <div class="card d-inline-block m-1 mb-2">

                    <!--Card image-->
                    <div class="Card image"  style="width: 250px; height:250px;">
                        <img class="img-fluid" src="{{ MarvelCharacterData.thumbnail.path }}.jpg" alt="Card image cap" style="max-width: 100%;max-height: 100%;">
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title text-uppercase font-weight-bold" style="color: #b71c1c ;">{{ MarvelCharacterData.name|length > 12 ?  MarvelCharacterData.name|slice(0, 12) ~ '...' : MarvelCharacterData.name  }}</h4>
                    </div>
                </div>
            </button>
            <!--/.Card-->
        {% endfor %}
    </div>
    {% include 'marvel_character_preview/modal-character-info.html.twig' %}
{% endblock %}

{% block javascripts %}
    <-- JQUERY -->
    <script type="text/javascript" src="{{ asset('mdbootstrap/js/jquery-3.2.1.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ asset('mdbootstrap/js/bootstrap.min.js') }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ asset('mdbootstrap/js/mdb.min.js') }}"></script>
    <!--FOS JsRouting -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
