<div class="modal fade" id="centralModalCharacterInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg modal-notify" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header elegant-color">
                <p class="heading lead" id="characterNameContainer">CHARACTER INFO</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="w-100 d-flex">
                    <div class="w-50 d-flex">
                        <p id="characterDescriptionContainer">TEST</p>
                    </div>
                    <div class="w-50 d-flex">
                        <img id="characterThumbnailContainer" class="img-fluid" src="" alt="Card image cap" style="width: 200px; height: 200px">
                    </div>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="w-100 d-flex">
                    <div class="w-50 d-flex">
                        <p>Nombre de Comics : </p>
                        <p id="characterComicsNumberContainer"></p>
                    </div>
                    <div class="w-50">
                        <p>Titres des trois premiers Comics</p>
                        <ul id="characterFirstThreeComicsTitlesContainer" class="list-group">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<script type="text/javascript" src="{{ asset('mdbootstrap/js/jquery-3.2.1.min.js') }}"></script>

<script>
    function getThisMarvelCharacterData(characterid) {
        $.ajax({
            url: Routing.generate('marvel_character_preview_id', {characterId: characterid})
        })
            .done(function (ajaxResponse) {
                var results = ajaxResponse.data.results[0];
                var characterName = results.name;
                var characterDescription = results.description;
                var characterThumbnail = results.thumbnail.path + "." + results.thumbnail.extension;
                var characterComicsNumber = results.comics.available;
                var characterAllComics = results.comics.items;
                var characterFirstThreeComicsTitles = [];

                characterAllComics.slice(0, 3).forEach(function (comics) {
                    characterFirstThreeComicsTitles.push(comics.name);
                });

                var characterNameContainer = document.querySelector('#characterNameContainer');
                var characterDescriptionContainer = document.querySelector('#characterDescriptionContainer');
                var characterThumbnailContainer = document.querySelector('#characterThumbnailContainer');
                var characterComicsNumberContainer = document.querySelector('#characterComicsNumberContainer');
                var characterFirstThreeComicsTitlesContainer = document.querySelector('#characterFirstThreeComicsTitlesContainer');
                characterFirstThreeComicsTitlesContainer.innerHTML = "";

                console.log(results);

                var allCharacterInfos = [characterName, characterDescription, 'Thumbnail', characterComicsNumber, 'FirstThreeComicsTitles'];
                var allContainer = [characterNameContainer, characterDescriptionContainer, characterThumbnailContainer, characterComicsNumberContainer, characterFirstThreeComicsTitlesContainer];
                allCharacterInfos.forEach(function (info, index) {
                    switch (info) {
                        case "Thumbnail":
                            characterThumbnailContainer.src = characterThumbnail;
                            break;
                        case "FirstThreeComicsTitles":
                            var FirstComicsList = document.querySelector('#characterFirstThreeComicsTitlesContainer');
                            characterFirstThreeComicsTitles.forEach(function(title){
                                var nodeList = document.createElement("LI");
                                var textnode = document.createTextNode(title);
                                nodeList.appendChild(textnode);
                                nodeList.classList.add('list-group-item');
                                FirstComicsList.appendChild(nodeList);
                            });
                            break;
                        default:
                            allContainer[index].innerHTML = info;
                    }

                });
                var characterModalInfo = document.querySelector('#centralModalCharacterInfo');
                $(characterModalInfo).modal('show');
            });

    }
</script>
