<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}MARVEL !{% endblock %}</title>
        {% block stylesheets %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

            <!-- Bootstrap core CSS -->
            <link href="{{ asset('mdbootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Material Design Bootstrap -->
            <link href="{{ asset('mdbootstrap/css/mdb.min.css') }}" rel="stylesheet">

        {% endblock %}
    </head>
    <body>
    <header class="full-height header">

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark red darken-4">
            <div class="container-fluid">
                <div id="title">
                    <a class="navbar-brand h1" href="#">MARVEL</a>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->
    </header>


        {% block body %}

        {% endblock %}



        {% block javascripts %}


        {% endblock %}
    </body>
</html>
